<%- include ("header") %>
    <form action="/Usuarios" method="post" class="container-sm mt-5">
      <div class="mb-3">
        <label for="id" class="form-label">id</label>
        <input type="text" class="form-control" name="id" id="id">
        <div id="id" class="form-text">Insert the coolest name ever here!</div>
      </div>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="nombre">
          <div id="nombre" class="form-text">Insert the coolest name ever here!</div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email">
            <div id="email" class="form-text">I don't need your goofy ahh email! Write a normal one!</div>
          </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
<%- include ("footer") %>