<%- include ("header") %>
  <form action="/crearProducto" method="post" class="container-sm mt-5">
    <div class="mb-3">
      <label for="id" class="form-label">id Productos</label>
      <input type="text" class="form-control" name="id" id="id" required>
      <div id="id" class="form-text">Insert a id product</div>
    </div>
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre del producto</label>
      <input type="text" class="form-control" name="nombre" id="nombre" required>
      <div id="nombre" class="form-text">Insert a product name</div>
    </div>
    <div class="mb-3">
      <label for="preu" class="form-label">Cost</label>
      <input type="preu" class="form-control" name="preu" id="preu" required>
      <div id="preu" class="form-text">Write the cost of the product</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <%- include ("footer") %>